.title{
    font-size: bold;
    text-align: center;
    font-family: monospace;
    color: white;
}
.first{
    display: flex;
justify-content:space-between;
background-color: #8f98a2;
width: 100%;

}